/home/danielamrhein/master_thesis/data/
/home/danielamrhein/master_thesis/initial_code_data_check/
/home/danielamrhein/master_thesis/UIP_dataset//home/danielamrhein/master_thesis/initial_code_data_check/
/home/danielamrhein/master_thesis/UIP_dataset/
/home/danielamrhein/master_thesis/data/AMASS_raw/
