/home/danielamrhein/master_thesis/data/
/home/danielamrhein/master_thesis/initial_code_data_check/
/home/danielamrhein/master_thesis/UIP_dataset/
data/AMASS_raw/
data/AMASS_processed/
data/smpl_models/
data/smplh_models/
data/smplx_models/
UIP_dataset/UIP_DB_Datasetdata/smplx_models/smplx/SMPLX_FEMALE.pkl
