/home/danielamrhein/master_thesis/data/
/home/danielamrhein/master_thesis/initial_code_data_check/
/home/danielamrhein/master_thesis/UIP_dataset/
data/AMASS_raw/
data/AMASS_processed/
data/smpl_models/
data/smplh_models/
data/smplx_models/
UIP_dataset/UIP_DB_Datasetdata/smplx_models/smplx/SMPLX_FEMALE.pkl
data/smplx_models/smpl/SMPL_MALE_v1.1.0.pkl
data/smplx_models/smplh/SMPLH_FEMALE.pkl 
data/smplx_models/smplx/SMPLX_FEMALE.npz 
data/smplx_models/smplx/SMPLX_MALE.npz
data/smplx_models/smplx/SMPLX_NEUTRAL.npz
UIP_dataset/UIP_DB_Dataset/test.pt
UIP_dataset/UIP_DB_Dataset/train.pt
data/smplx_models/smplx/SMPLX_FEMALE.pkl
data/smplx_models/smpl/SMPL_NEUTRAL.pkl
data/smplx_models/smplh/SMPLH_MALE.pkl
data/smplx_models/smplx/SMPLX_MALE.pkl
data/smplx_models/smplx/SMPLX_NEUTRAL.pkl 